/* Screen size */
@media only screen and (min-width: 200px) {
  html {
    zoom: 0.5;
  }
}

@media only screen and (min-width: 300px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 400px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 500px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 600px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 800px) {
  html {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1;
  }
}

html {
  height: max-content;
  margin: 0 auto;
}

/* Elements */

body {
  font-family: Recursive;
  padding: 40px;
  font-size: 16px;
  color: #777777;
}

h1 {
  font-weight: 700;
  margin: 0;
  font-size: 25px;
  line-height: 48px;
}

h2 {
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
}

h3 {
  font-size: 14px;
  margin-top: 5px;
}

li {
  list-style: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

form {
  margin: 20px 0;
}

sup {
  font-size: 20px;
  position: relative;
  top: -25px;
  font-weight: bold;
}

a {
  text-decoration-line: none;
  color: #9d9c9c;
}

.card {
  margin: 30px auto;
  padding: 10px 10px 20px 15px;
  max-width: 600px;
  border-radius: 10px;
}

.search-button {
  margin-left: -20px;
}

.curr-location {
  margin-left: 20px;
  color: gray;
  font-size: 25px;
}

.curr-location:hover {
  color: #0d6efd;
}

.icon-weather {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: lightblue;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 10px;
  margin: 30px auto;
}

.temperature {
  font-size: 55px;
  font-weight: 800;
}

.temp-units {
  margin-left: -10px;
  color: #9d9c9c;
}

.temp-units .active {
  color: #777777;
  cursor: default;
}

.weather-forecast {
  font-size: 14px;
  margin-top: -15px;
  text-align: center;
}

.weather-forecast-temperature {
  font-weight: bold;
}

.weather-forecast-temp-min {
  opacity: 0.7;
}

.footer {
  margin: 30px auto;
  font-size: 14px;
  max-width: 600px;
}

.link-footer {
  color: #777777;
  background-image: linear-gradient(
    rgb(255, 255, 255) 59%,
    rgb(251, 235, 161) 50%
  );
}

.float-left {
  margin-right: -25px;
  margin-left: -20px;
  margin-top: -10px;
}
