/* Screen size */

@media only screen and (min-width: 200px) {
  html {
    zoom: 0.6;
    font-size: 80%;
  }
}

@media only screen and (min-width: 500px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 768px) {
  html {
    zoom: 1;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    zoom: 1.1;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    zoom: 1.2;
  }
}

html {
  height: max-content;
  margin: 0 auto;
  background: #eee;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0), rgba(0, 0, 200, 0.1));
  max-height: 700px;
}

/* Elements */

body {
  font-family: Recursive;
  padding: 20px;
  font-size: 16px;
  color: #777666;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.1), rgba(0, 0, 200, 0));
  max-height: 700px;
}

h1 {
  font-weight: 700;
  margin: 0;
  font-size: 25px;
  line-height: 48px;
}

h2 {
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
}

h3 {
  font-size: 14px;
  margin-top: 5px;
}

li {
  list-style: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

form {
  margin: 20px 0;
}

sup {
  font-size: 20px;
  position: relative;
  top: -25px;
  font-weight: bold;
}

a {
  text-decoration-line: none;
  color: #9d9c9c;
}

.card {
  margin: 30px auto;
  padding: 10px 10px 50px 15px;
  max-width: 600px;
  border-radius: 15px;
  border: transparent;
  background: #eee;
  background: radial-gradient(
    250px at 10.9% 48.6%,
    rgb(194, 227, 255) 39.3%,
    rgb(226, 196, 253, 0.25) 72.5%
  );
  /* background: linear-gradient(120deg, rgba(0, 0, 200, 0.1), rgba(0, 0, 100, 0)); */
}

.search-button {
  margin-top: -2px;
  margin-left: -15px;
}

.curr-location {
  margin-left: 8px;
  color: gray;
  font-size: 25px;
}

.curr-location:hover {
  color: #0d6efd;
}

.icon-main {
  padding: 0;
  margin-top: 15px;
  margin-right: -15px;
  display: inline-block;
}

lottie-player {
  --lottie-player-toolbar-height: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-left: -25px;
  padding: 0;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 10px;
  margin: 30px auto;
}

.temperature {
  font-size: 55px;
  font-weight: 800;
  margin-top: -15px;
}

.temp-units {
  margin-left: -10px;
  color: #9d9c9c;
}

.temp-units .active {
  color: #777777;
  cursor: default;
}

.weather-forecast {
  font-size: 14px;
  margin-top: -15px;
  text-align: center;
}

.weather-forecast-date {
  margin-bottom: -20px;
}

.weather-forecast-temperature .weather-forecast-icon {
  font-weight: bold;
  margin-top: -25px;
}

.weather-forecast-temp-min {
  opacity: 0.7;
}

.footer {
  margin: 30px auto;
  font-size: 14px;
  max-width: 600px;
  color: blueviolet;
  font-weight: 600;
}

.link-footer {
  color: #708090;
}

.float-left {
  margin-right: -25px;
  margin-left: -20px;
  margin-top: -10px;
}
